<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content=" initial-scale=1.0, minimum-scale = 1, maximum-scale = 1" />
    <title>诚享公告</title>


    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/yhbd.css" />


</head>


<body>
<div class="sy_page">



    <div class="w_zhong">

        <div class="yhbd">
            <div class="yhbd_1">
                <div class="yhbd_2"><img src="__PUBLIC__/img/yhbd_1.png"/></div>
                <div class="yhbd_3"><img src="__PUBLIC__/img/yhbd_2.png"/></div>
            </div>
        </div>

        <div class="bdcg_1"><img src="__PUBLIC__/img/bdcg_1.png"/></div>
        <div class="bdcg_2">恭喜您，绑定成功!</div>







    </div>


</div>



</body>
</html>
