<include file="Public:header" />

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
             <a href="{:U('Index/index')}">主页</a>

            </li>

            <li class="active">文章列表</li>
        </ul><!-- .breadcrumb -->

    </div>

    <div class="page-content">


        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->



                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="header smaller lighter blue">文章列表</h3>


                        <div class="table-responsive">
                            <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="center">
                                        <label>
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th>标题</th>
                                    <th>发布时间</th>
                                    <th class="hidden-480">经销商等级</th>

                                    <th>
                                        作者
                                    </th>
                                    <th class="hidden-480">状态</th>

                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>

                                <foreach name="list" item="v">
                                    <tr class="new_{$v.admin_id}">
                                        <td class="center">
                                            <label>
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>

                                        <td>
                                            {$v.news_title}
                                        </td>
                                        <td class="time_{$v.news_id}">
                                           {$v.issue_time}


                                        </td>
                                        <td class="hidden-480">{$v.seller_lev}</td>
                                        <td>{$v.admin_name}</td>

                                        <td class="hidden-480 icon_{$v.news_id}">
                                            <if condition="$v.check_status eq 1">
                                                <span class="label label-sm label-info arrowed arrowed-righ">发布</span>
                                                <elseif condition="$v.check_status eq 2" />
                                                <span class="label label-danger arrowed">拒绝</span>
                                                <elseif condition="$v.check_status eq 0" />
                                                <span class="label label-warning arrowed arrowed-right">待审核</span>
                                            </if>
                                        </td>

                                        <td>
                                            <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                <if condition="$admin_id eq 1">
                                                    <if condition="$v.check_status eq 0">
                                                        <a onclick="pass({$v.news_id})" class="blue pass_{$v.news_id}" >
                                                            <i class="icon-ok bigger-130"></i>
                                                        </a>
                                                        <a class="green edit_{$v.news_id}" href="{:U('News/editNews' , array('id' => $v['news_id']))}">
                                                            <i class="icon-pencil bigger-130"></i>
                                                        </a>
                                                    </if>
                                                    <a onclick="url({$v.news_id})" class="yellow url_{$v.news_id}" >
                                                        <i class="normal-icon icon-eye-open orange2 bigger-130"></i>
                                                    </a>
                                                    <if condition="$v.check_status eq 0">
                                                        <a onclick="del({$v.news_id})" class="red del_{$v.news_id}" >
                                                            <i class="icon-trash bigger-130"></i>
                                                        </a>
                                                    </if>

                                                    <else/>
                                                    <if condition="$type eq 'needCheck'">
                                                        <if condition="$v.check_status eq 0">
                                                            <a onclick="pass({$v.news_id})" class="blue pass_{$v.news_id}" >
                                                                <i class="icon-ok bigger-130"></i>
                                                            </a>
                                                            <a class="green edit_{$v.news_id}" href="{:U('News/editNews' , array('id' => $v['news_id']))}">
                                                                <i class="icon-pencil bigger-130"></i>
                                                            </a>
                                                        </if>
                                                    </if>
                                                    <if condition="$type eq 'noCheck'">
                                                        <a class="green edit_{$v.news_id}" href="{:U('News/editNews' , array('id' => $v['news_id']))}">
                                                            <i class="icon-pencil bigger-130"></i>
                                                        </a>
                                                    </if>

                                                    <a onclick="url({$v.news_id})" class="yellow url_{$v.news_id}" >
                                                        <i class="normal-icon icon-eye-open orange2 bigger-130"></i>
                                                    </a>
                                                    <if condition="$type eq 'needCheck'">
                                                        <if condition="$v.check_status eq 0">
                                                            <a onclick="del({$v.news_id})" class="red del_{$v.news_id}" >
                                                                <i class="icon-trash bigger-130"></i>
                                                            </a>
                                                        </if>
                                                    </if>


                                                </if>

                                            </div>

                                        </td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="modal-table" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header no-padding">
                                <div class="table-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <span class="white">&times;</span>
                                    </button>
                                    Results for "Latest Registered Domains
                                </div>
                            </div>



                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->

<div class="ace-settings-container" id="ace-settings-container">
    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
        <i class="icon-cog bigger-150"></i>
    </div>

    <div class="ace-settings-box" id="ace-settings-box">
        <div>
            <div class="pull-left">
                <select id="skin-colorpicker" class="hide">
                    <option data-skin="default" value="#438EB9">#438EB9</option>
                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                </select>
            </div>
            <span>&nbsp; Choose Skin</span>
        </div>

        <div>
            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
            <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
        </div>

        <div>
            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
            <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
        </div>

        <div>
            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
            <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
        </div>

        <div>
            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
            <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
        </div>

        <div>
            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
            <label class="lbl" for="ace-settings-add-container">
                Inside
                <b>.container</b>
            </label>
        </div>
    </div>
</div><!-- /#ace-settings-container -->
</div><!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->



<!-- <![endif]-->

<!--[if IE]>

<![endif]-->

<!--[if !IE]> -->
<script>
    function del(id){
        if (confirm('是否拒绝此文章？')){
            $.ajax({
                url : "{:U('News/delNews')}",
                type : "POST",
                dataType : "JSON",
                data : {id : id },
                success : function (e) {
                    if (e.res == 1){
                        $('.edit_' + id).css('display' , 'none');
                        $('.del_' + id).css('display' , 'none');
                        $('.pass_' + id).css('display' , 'none');
                        $('.icon_' + id).html('<span class="label label-danger arrowed">拒绝</span>');
                        swal({title:"提示",text:e.msg,type:"success"})
                    }else{
                        swal({title:"提示",text:e.msg,type:"error"})
                    }
                },
                error : function (e) {
                    swal({title:"提示",text:"修改失败，网络错误，请重试",type:"error"})
                }
            })
        }
    }
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    function pass(id){

        if (confirm('是否通过审核？')){
            $.ajax({
                url : "{:U('News/passNews')}",
                type : "POST",
                dataType : "JSON",
                data : {id : id },
                success : function (e) {
                    if (e.res == 1){
                        var time1 = new Date().Format("yyyy-MM-dd HH:mm:ss");
                        $('.pass_' + id).css('display' , "none");
                        $('.edit_' + id).css('display' , "none");
                        $('.del_' + id).css('display' , "none");

                        <if condition="$is_top eq 1">

                            $('.time_' + id).html(time1);
                            $('.icon_' + id).html('<span class="label label-sm label-info arrowed arrowed-righ">发布</span>');
                            <else />
                            $('.icon_' + id).html('<span class="label label-warning arrowed arrowed-right">待上级审核</span>');
                        </if>

                        swal({title:"提示",text:e.msg,type:"success"})
                    }else{
                        swal({title:"提示",text:e.msg,type:"error"})
                    }
                },
                error : function (e) {
                    swal({title:"提示",text:"审核失败，网络错误，请重试",type:"error"})
                }
            })
        }
    }

    function url(url){
        window.location.href = "{:U('News/detail')}?id="+url;
    }

</script>
<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='__PUBLIC__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<script src="__PUBLIC__/assets/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- ace scripts -->

<script src="__PUBLIC__/assets/js/ace-elements.min.js"></script>
<script src="__PUBLIC__/assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->

<script type="text/javascript">
    jQuery(function($) {
        var oTable1 = $('#sample-table-2').dataTable( {
            "aoColumns": [
                { "bSortable": false },
                null, null,null, null, null,
                { "bSortable": false }
            ] } );


        $('table th input:checkbox').on('click' , function(){
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function(){
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

        });


        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
            return 'left';
        }
    })
</script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
